In [1]:
# Load libraries
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

# Select nbagg to use as matplotlib backend
matplotlib.use('nbagg')

In [2]:
# Create DataFrame containing the trivia point data
trivia_df = pd.read_csv('all-points-anonymized.csv')
trivia_df = trivia_df.set_index('Date')

# Printing to gain basic information of data from CSV
print('Number of columns:', trivia_df.shape[1])
print('Number of rows:', trivia_df.shape[0])
trivia_df.head()

Number of columns: 14
Number of rows: 74

,# of Q's Right,Total # Q's,% Right,Halftime Pts,Pts @ half,Rank @ Half,Pts b4 Final,# sweeps,Final Pts,Max Score,% Points,Rank,# of Teams,# ppl on team
Date,,,,,,,,,,,,,,
10/2/2018,16.5,28,58.93%,3,44,NaN,74,4,34,178,19.10%,14.0,14.0,6.0
10/9/2018,15.0,29,51.72%,9,36,NaN,68,2,108,178,60.67%,7.0,NaN,NaN
10/16/2018,19.0,30,63.33%,6,39,NaN,90,4,90,180,50.00%,7.0,18.0,6.0
10/23/2018,23.0,30,76.67%,10,45,3.0,83,2,123,176,69.89%,4.0,19.0,NaN
10/30/2018,19.0,28,67.86%,9,32,NaN,79,1,119,178,66.85%,4.0,NaN,NaN

In [3]:
# Print the dtypes to find columns that need type conversions
print(trivia_df.dtypes)

# of Q's Right    float64
Total # Q's         int64
% Right            object
Halftime Pts        int64
Pts @ half          int64
Rank @ Half       float64
Pts b4 Final        int64
# sweeps            int64
Final Pts           int64
Max Score           int64
% Points           object
Rank              float64
# of Teams        float64
# ppl on team     float64
dtype: object

In [4]:
# Function to convert percentage objects to floats
def percent_object_to_float(x):
    # Remove '%' character, convert object to float, divide by 100
    return float(x.strip('%'))/100

# Convert '% Right' column to floats
trivia_df['% Right'] = trivia_df['% Right'].apply(percent_object_to_float)
# Convert '% Points' column to floats
trivia_df['% Points'] = trivia_df['% Points'].apply(percent_object_to_float)